/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.float {
    float: left;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h4 {
    padding-left: 10px;
    font-size: 12px;
}

p {
    font-size: 10px;
    padding-left: 10px;
    color: #B1B1B1;
}

#active_contact,
#my_avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* background */
#green_background {
    width: 100%;
    height: 80px;
    background-color: #009688;
}

#grey_background {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background-image: linear-gradient(to top,#D3DBDB 30%,#DDDBD1 100%);
}

/* blocco centrale */

#root {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 680px;
    background-color: white;
    margin: 0 auto;
}

#root > div {
    width: 65%;
    height: 100%;
}

/* colonna laterale */

aside {
    width: 35%;
    height: 100%;
    border-right: 2px solid #B1B1B1;
}

/* aside top */

#user_bar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
}

/* notification bar */

#notification_bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    background-color: #8EDAFC;
}
.fa-bell-slash {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    color: #8EDAFC;
    background-color: white;
}
.fa-bell-slash:hover {
    cursor: pointer;
    color: white;
    background-color: #d5f9ba;
}
#notification_bar > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}
#notification_bar h5 {
    font-size: 12px;
    font-weight: 100;
}
#notification_bar a {
    font-size: 10px;
    color: #858383;
}
#notification_bar a:hover {
    color: blue;
}

/* search bar */

#search_bar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #FAFAFA;
    padding: 5px;
}
#search_bar input {
    width: 100%;
    border: 1px solid #faf5f5;
    border-radius: 5px;
    padding: 7px 5px 7px 70px;
    font-size: 10px;
    background-color: white;
}
#search_bar > i {
    position: absolute;
    top: 12px;
    left: 30px;
    font-size: 12px;
    color: #B1B1B1;
}

/* aside contact */

#aside_contact {
    height: calc(100% - 150px);
    overflow-y:scroll;
}

#aside_contact div {
    width: 100%;
    height: 60px; 
    padding-left: 10px;
}

.active {
    background-color: #E9EBEB;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 10px;
}
.icons i {
    margin-left: 15px;
    color: #B1B1B1;
}
.icons i:hover {
    cursor: pointer;
    color: black;
}

.profile_container > div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E9EBEB;
    cursor: pointer;
}

.info_profile_container {
    height: 100%;
    padding-top: 5px;
}
.info_profile_container h4 {
    font-weight: 200;
}

.date_hour {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 5px;
}

/* header */

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
}

#active_contact > div {
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;      
}
#active_contact h4 {
    font-weight: 200;
}

/* main */

main {
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    background-image: url(../img/mine.jpg);
    background-size: 50%;
    overflow-y: scroll;
}

.message_container {
    position: relative;
    width: 100%;
    height: 50px;
}

.message {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.text{
    align-self: center;
    color: black;
    font-size: 10px;
}

.data{
    font-size: 8px;
}

.right,
.left {
    width: 300px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    padding: 3px;
}
.left {
    float: left;
    clear: left;
    background-color: white;
}
.right {
    float:right;
    clear: right;
    background-color: #d5f9ba;
}

/* dropdown */

.dropdown{
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #F3EEEA;
}

footer i {
    font-size: 20px;
    color: #999898;
}
footer i:hover {
    cursor: pointer;
    color: black;
}

footer input {
    width: 80%;
    margin: 0 30px 0 30px;
    padding: 7px 0 7px 10px;
    border: 1px solid #faf5f5;
    border-radius: 5px;
    font-size: 10px;
}








